<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupChat</title>
</head>
<body>
    <%if (typeof login !== 'undefined') {%>
        <%if (typeof erro !== 'undefined') {%>
            <div>Erro no login, tente novamente!</div>
        <%}%>
        <form action="/cadastrar?login=true" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Seu email"><br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" placeholder="Sua senha"><br>
            <input type="submit" value="Login"><br>
        </form>
        Não tem conta? <a href="/">cadastre-se</a>
    <%} else {%>
        <form action="/cadastrar" method="post">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Seu nome"><br>
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Seu email"><br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" placeholder="Sua senha"><br>
            <input type="submit" value="Cadastrar"><br>
        </form>
        Já tem conta? <a href="/login">Faça Login</a>
    <%}%>
</body>
</html>