<%- include('includes/header') %>
    <%if (typeof login !== 'undefined') {%>

        <div class="complexcenter login center">
            <%if (typeof erro !== 'undefined') {%>
                <div class="erro">Erro no login, tente novamente!</div>
            <%}%>
            <h1>Login</h1>
            <form action="/cadastrar?login=true" method="post">
                <input type="email" name="email" placeholder="Email"><br><br>
                <input type="password" name="senha" placeholder="Senha"><br><br>
                <input type="submit" value="Login" class="button"><br>
            </form>
            Não tem conta? <a href="/">Cadastre-se</a>
        </div>
    <%} else {%>
        <div class="complexcenter login center">
            <%if (typeof erro !== 'undefined') {%>
                <%if (erro == 'invalido') {%>
                    <div class="erro">Erro no cadastro, informações faltando!</div>
                    <%} else {%>
                        <div class="erro">Erro no cadastro, email já logado!</div>
                <%}%>
            <%}%>
            <h1>Cadastrar</h1>
            <form action="/cadastrar" method="post">
            <input type="text" name="nome" placeholder="Nome"><br><br>
            <input type="email" name="email" placeholder="Email"><br><br>
            <input type="password" name="senha" placeholder="Senha"><br><br>
            <input class='button' type="submit" value="Cadastrar"><br>
        </form>
        Já tem conta? <a href="/login">Faça Login</a>
        </div>
    <%}%>
</body>
</html>