<%- include('includes/header') %>
    <div class="complexcenter login center">
        <h1>Criar Grupo</h1>
            <form action="/criarGrupo" method="post">
                <input type="text" name="nome" placeholder="Nome do grupo"><br><br>
                <input type="text" name="imagem" placeholder="Link para a foto do grupo"><br><br>
                <input type="submit" value="Criar" class="button"><br>
            </form>
    </div>

</body>
</html>